@import "~@cockroachlabs/design-tokens/dist/web/tokens";

.upload-form {
  padding: 1rem;
}

.upload-button-icon-left {
  margin-right: 0.5rem;
}

.upload-button-icon-right {
  margin-left: 0.5rem;
}

.upload-spinner {
  display: block;
  margin: 2rem auto;
}

.horizontal-rule {
  border-top: 1px solid $color-core-neutral-3;
  height: 0;
  width: 100%;
}
