@import "~@cockroachlabs/design-tokens/dist/web/tokens";

.import-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.imported-fuzzy-time {
  font-size: 14px;
  line-height: 28px;
  letter-spacing: inherit;
}
